K9HZ_LPF_Module/K9HZ_LPF_V1.00_KiCad/K9HZ_100W_11band_LPF-TR-carrier/K9HZ_100W_11band_LPF-TR-carrier-backups/
K9HZ_LPF_Module/K9HZ_LPF_V1.00_KiCad/K9HZ_100W_11band_LPF-Control/K9HZ_100W_11band_LPF-Control-backups/
K9HZ_LPF_Module/K9HZ_LPF_V1.00_KiCad/K9HZ_100W_11band_LPF-Filter/K9HZ_100W_11band_LPF-Filter-backups/
T41_V012_Files_01-15-24/T41_V012_KiCad/T41-RF-board-V012/T41-RF-board-V012-backups/
T41_V012_Files_01-15-24/T41_V012_KiCad/T41-main-board-V012/T41-main-board-V012-backups/
T41_V012_Files_01-15-24/T41_V012_KiCad/T41-BPF-filter-board/T41-exciter-filter-board-backups/
T41_V012_Files/T41_V012_PCBs/T41_V012_PCBs_KiCad/T41-RF-board-Attenuator-daughterboard/T41-RF-board-Attenuator-daughterboard-backups/
T41_V012_Files/T41_V012_PCBs/T41_V012_PCBs_KiCad/T41-RF-board-V012/T41-RF-board-V012-backups/
T41_KiCad_Library/T41_Library.bak
*fp-info-cache
*jlcpcb/
